<h1>Dear Sympli</h1>
<p>Welcome to your new Rankster application!</p>
<p>
  Please enter a search term you want to look up, and the website that you want the rank(s) for. For your convenience, I have entered the data you usually obsess about!
</p>

<form name="form" (ngSubmit)="f.form.valid && getRanks()" #f="ngForm" novalidate>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Search Text</label>
        <input type="text" class="form-control" name="searchText" (keydown)="clearRanks()" [(ngModel)]="searchQuery.searchText" #searchText="ngModel" required />
        <div *ngIf="searchText.invalid" class="help-block">
          <div *ngIf="searchText.errors.required">Search Text is required</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Rank Text</label>
        <input type="text" class="form-control" name="rankText" (keydown)="clearRanks()" #rankText="ngModel" [(ngModel)]="searchQuery.rankText" [ngClass]="{ 'input-validation-error': f.submitted && rankText.invalid }" required />
        <div *ngIf="rankText.invalid" class="help-block">
          <div *ngIf="rankText.errors.required">Rank Text is required</div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Search Engine</label>
        <select class="form-control" name="searchEngine" (change)="clearRanks()" #searchEngine="ngModel" [(ngModel)]="searchQuery.searchEngine" required>
          <option value="Google">Google</option>
          <option value="Bing">Bing</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p *ngIf="isLoading">Searching "{{searchQuery.searchEngine}}" for "{{searchQuery.searchText}}..."</p>
      <p *ngIf="searchResult && searchResult.ranks.length">
        We searched "{{searchQuery.searchEngine}}" for "{{searchQuery.searchText}}" and determined Rank(s) <b>"{{searchResult.ranks.join(', ')}}"</b> for "{{searchQuery.rankText}}".
      </p>
      <p *ngIf="searchResult && !searchResult.ranks.length">Sorry, we searched "{{searchQuery.searchEngine}}" for "{{searchQuery.searchText}}" and did not find "{{searchQuery.rankText}}" in the first 100 results!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid">
          Search
        </button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</form>
